.input {
    width: 97%;
    height: 50px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
margin-top: 20px;
margin-left: 20px;
width: 80px;
height: 40px;
}